.groupCustomer {
    grid-area: groupCustomer;

}
.groupFinance {
    grid-area: groupFinance;

}
.groupPart {
    grid-area: groupPart;

}
.groupShipping {
    grid-area: groupShipping;
}


.myForm form .hide {
    display: none;
}

.myForm {
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.myForm form {
    position: relative;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 20%); */
    grid-template: 
    'groupShipping groupPart groupFinance groupCustomer'
    'formNote formNote formNote formNote'
    ;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: space-evenly;
}

.myForm form .formSection {
    /* background-color: red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.myForm form .formSection .sectionTitle {
    font-size: 1.5rem;

    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myForm form .formSection .form-group {
    width: 100%;
    padding-bottom: 20px;
}

.myForm form .formSection .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .myForm form .formSection .checkbox .form-checkbox {}

.myForm form .formSection .checkbox .form-checkbox .form-checkbox-label {} */

.myForm form .formSection .form-group .form-checkbox[type="checkbox"] {
    width: 40%;
    height: 20px;
}


.myForm form .formSection .form-group label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}



.myForm form .formSection .form-group input,
.myForm form .formSection .form-group select {
    width: 100%;
    padding: 6px;
}

.myForm form .formSection .form-group select option {
    font-size: 15px;
}

.myForm form .formSection .form-group input[type="date"] {
    font-size: 12px;
}


/* NOTE TEXAREA */

.formSection-note {
    grid-area: formNote;
    position: relative;
    width: 100%;
    padding: 20px;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: flex-start; */
}
.formSection-note .form-group {
    position: relative;
    width: 96%;
    padding-bottom: 20px;
}
.formSection-note #note {
    position: relative;
    width: 100%;
    padding: 12px;
    /* height: 100px; */
    /* background-color: red; */
}

/* NOTE TEXTAREA END */


.myForm .buttons {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
}

.myForm .buttons button[type="submit"] {
    background-color: inherit;
    border: 1px solid #241e1e;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.myForm .buttons button[type="submit"]:hover {
    color: #645454;
    background-color: #e4e4e4;
}

.myForm .buttons button[type="submit"]:active {
    background-color: #c7c7c7;
    width: 95px;
}


/* delete Button */
.myForm .buttons .btn-delete {
    background-color: #ffcbcb;
    border: 1px solid #f59191;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}
.myForm .buttons .btn-delete:hover {
    color: #645454;
    background-color: #e4e4e4;
}
.myForm .buttons .btn-delete:active {
    background-color: #fc3d3d;
    width: 95px;
}


@media screen and (max-width: 1020px) {
    .myForm form {
        /* grid-template-columns: repeat(2, 30%); */
        grid-template: 
    'groupShipping groupPart'
    'groupFinance groupCustomer'
    'formNote formNote'
    ;
    }

    .myForm .buttons {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    .myForm form {
        /* grid-template-columns: repeat(2, 40%); */
        grid-template: 
        'groupShipping groupPart'
        'groupFinance groupCustomer'
        'formNote formNote'
        ;
    }

    .myForm .buttons {
        width: 80%;
    }

}

@media screen and (max-width: 400px) {
    .myForm form {
        /* grid-template-columns: 70%; */
        grid-template: 
        'groupShipping'
        'groupPart'
        'groupFinance'
        'groupCustomer'
        'formNote'
        ;
    }

    .myForm .buttons {
        width: 70%;
    }
}